<button type="button" [hidden]="true" #button  class="btn btn-primary" data-toggle="modal" data-target="#loginModal"></button>
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{errorMessage}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header login-header" style="background-color: #e20074 !important;color:whitesmoke !important">Login</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" />
                </div>
                <button class="btn btn-primary" type="submit">
                    login
                </button>
            </form>
        </div>
    </div>
</div>