<body class="sb-nav-fixed">
    <app-header></app-header>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <app-menu></app-menu>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="breadcrumb-title mt-4">Dashboard</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    Angular example application!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <app-footer></app-footer>
        </div>
    </div>
    <script src="src/assets/js/scripts.js"></script>
</body>